<div class="container-fluid">
    <div class="row justify-content-center mt-5 align-item-center " 
    style="height:400px; ">
        
                <div class="col-5 col-md-3 d-flex bg-dark justify-content-center align-items-center text-light flex-column" 
                style="margin-top: 100px; border-radius:20px;
                
                font-size: 30px;
                font-weight:bold;
                background-color: rgba(51, 83, 226, 0.589) !important;">
                  <div>Welcome</div>  Login Here !
                    <img src="https://img.icons8.com/color/58/000000/user.png"/>
                </div>

                <div class="col-5 col-md-3 bg-light d-flex flex-column justify-content-center" [formGroup]="fbFormGroup"
                 style="margin-top: 100px; border-radius:20px;">
                
                 <div class="alert alert-sm  alert-danger" role="alert"
                 style="font-size: 10px;" *ngIf="uiInvalidCredential">
                  please check username or password.
                </div>
                
                <div class="input-group mb-4 input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img src="https://img.icons8.com/color/20/000000/gender-neutral-user.png"/>
                      </span>
                    </div>
                    <input type="text" class="form-control fix-rounded-right" placeholder="Username" formControlName="username" required>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>

                  <div class="input-group mb-4 input-group-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <img src="https://img.icons8.com/color/20/000000/password1--v1.png"/>
                      </span>
                    </div>
                    <input type="password" class="form-control fix-rounded-right"  placeholder="Password" formControlName="password" required>
                    <div class="invalid-feedback">
                      Please choose a Password.
                    </div>
                  </div>

                  <button type="button" class="btn btn-sm btn-primary mb-4"
                  
        (click)="loginProcessHere()">Submit Here</button>

                  <button type="button" class="btn btn-sm btn-warning">Forgot Password</button>

                  <a routerLink="/signup" class="d-flex justify-content-center mt-2">Sign Up Here</a>

                  

                </div>
            
            
    </div>

    
    <router-outlet></router-outlet>
</div>
