

<div class="container-fluid">
    <div class="row flex-column justify-content-center align-items-center">
        <div class="col-12 col-md-6 mt-5">
            <label for="Confession">Category</label>
            <select class="form-control form-control-lg mb-3">
                <option >I am interested in</option>
                <option>Dream <img src="https://img.icons8.com/color/48/000000/thinking-bubble.png"/></option>
                <option>First Experience</option>
                <option>Guilt</option>
                <option>Lie</option>
                <option>Pain</option>
                <option>A Random feeling</option>
                <option>Truth</option>
                <option>Wild Experience</option>
                <option>Other</option>
                
              </select>
<label for="Confession">Confession</label>
    <textarea name="" id="" cols="75" rows="8" placeholder="Confession" style="border-radius:5px; font-weight:bold">

    </textarea>

              

    <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LfMHUYUAAAAAEspmvU-BBCvF5AHAASKwLZ9yleo"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfMHUYUAAAAAEspmvU-BBCvF5AHAASKwLZ9yleo&amp;co=aHR0cHM6Ly9zaW1wbHljb25mZXNzLmNvbTo0NDM.&amp;hl=en&amp;v=QVh-Tz10ahidjrORgXOS1oB0&amp;size=normal&amp;cb=81k40c9kk393" width="304" height="78" role="presentation" name="a-o2yehf9ou9kr" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
     <br>
     <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-success bt-sm text-bold">Confess</button>

     </div>
    
    </div>

    </div>
</div>
