<div class="row  flex-column">
    <div class="menu1 " >
        Category
    </div>
    <div class="menu2  bg-primary">
        Dreams
    </div>
    <div class="menu2  bg-success">
        First Experience
    </div>
    <div class="menu2  bg-info">
        Guilt
    </div>
    <div class="menu2  bg-danger">
        Lie
    </div>
    <div class="menu2  bg-warning">
        Pain
    </div>
    <div class="menu2  bg-secondary">
        Random
    </div>
    <div class="menu2  bg-primary">
        Feeling Truth
    </div>
    <div class="menu2 bg-danger  " >
        Wild Experience
    </div>
    <div class="menu2  bg-secondary">
       Other
    </div>
    
    <router-outlet></router-outlet>
</div>
